body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 3rem;
}

body.dark {
  background-color: #1f1f1f;
  color: white;
}

.toggle-container {
position: fixed;
top: 10px;
right: 10px;
}

